body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}
h1 {
  line-height: 1em;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #1d1c1c;
    color: #ddd8d8;
  }
  a:link {
    color: #3e9edd;
  }
  a:visited {
    color: #4d3f68;
  }
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
@media (prefers-color-scheme: light) {
  .article-meta, .menu a {
    text-decoration: none;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
  }
}
@media (prefers-color-scheme: dark) {
  .article-meta, .menu a {
    text-decoration: none;
    background: rgb(43, 43, 43);
    padding: 5px;
    border-radius: 5px;
  }
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  color: #ddd;
}

/* code */
@media (prefers-color-scheme: light) {
  pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
    overflow-x: auto;
  }
}
@media (prefers-color-scheme: dark) {
  pre {
    border: 1px solid rgb(95, 95, 95);
    box-shadow: 5px 5px 5px rgb(56, 56, 56);
    padding: 1em;
    overflow-x: auto;
  }
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
